[submodule "02_Edubase"]
	path = 02_Edubase
	url = https://github.com/rtfmkiesel/edubase-downloader.git
[submodule "01_api_infos"]
	path = 01_api_infos
	url = https://github.com/public-apis/public-apis.git
